
body { font-family: "Georgia", serif;
       color:       #000000; }

p { font-size: 17px; }

#container { width:  540px;
             margin: auto; }

#header h1 { font-family:    "Garamond", "EB Garamond", "Georgia", serif;
             font-size:      55px;
             letter-spacing: 10px;
             text-align:     center;
             border-left:    2px solid black;
             border-right:   2px solid black; }

#content { padding-top:  40px;
           margin-left:  0px;
           margin-right: 0px; }

#content p { text-align:  justify;
             text-indent: 2em;
             line-height: 1.5; }

#navigation { font-size:       20px;
              font-style:      italic;
              margin:          0;
              padding:         0;
              list-style-type: none;
              text-align:      center; }

#navigation li { display: inline;
                 padding: 10px; }

#navigation li a { color: #444; }

#adminnav { font-size:        16px;
            font-family:      "Arial", sans-serif;
            margin:           0;
            padding:          0;
            width:            100%;
            background-color: #000;
            list-style-type:  none;
            text-align:       left; }

#adminnav li { display: inline;
               padding: 10px; }

#adminnav li a { color: #fff; }

#footer p { font-family: "Arial", sans-serif;
            font-size:   12px;
            color:       #666;
            text-align:  center; }

.intro { padding-bottom: 40px; }

.project h2           { font-size: 22px; }
.project h2 a         { color: #444; }
.project h2 a:visited { color: #666; }
.project              { padding-bottom: 40px; }

.wrap { float:  left;
        margin: 9px; }

.contactinfo dd { padding-bottom: 20px; }

@media (max-width: 600px) {
    #container { width: auto; }
    #content { margin-left:  10px;
               margin-right: 10px; }
    .content { padding: 5px; }
}

#txtBody { font-family: "Consolas", monospace;
           font-size:   12px;
           width:       100%;
           height:      400px; }

#txtComment { font-family: "Consolas", monospace;
              font-size:   12px;
              width:       100%;
              height:      200px; }
#inpTags { width: 100%; }

.section h1, .document .title { font-size:      20px;
              padding-top:    0px;
              padding-bottom: 0px;
              margin-bottom:  0px; }

.section p { padding-top: 5px;
             margin-top:  0px;}
.post_date, .comment_date { padding-top: 0px;
             margin-top:  0px;
             color:       #999; }
.post_title { padding-bottom: 5px;
              margin-bottom:  0px;
              font-size:      27px;
              font-family:    "Garamond", "EB Garamond", "Georgia", serif; }
.comment_author { padding-bottom:0px;
                  margin-bottom:0px;
                  margin-top: 0px; }
.post_title a { color: #444; }
.post_comment_count { text-align: right; }
.code { border:  1px solid #EEE;
        padding: 8px;}
#inpTitle { width: 100%; }
.editor_buttons { text-align: right; }
.comment { border: 1px solid #EEE;
           margin-top: 20px;
           padding: 8px;}

#previewtext { padding: 8px;
               margin-top: 10px;}

.write_comment { margin-top: 20px; }

#posts_footer { text-align: center; }