{% extends "layout.html" %}

{% block content %}

    <div class="write_comment">
        <form action="/editcomment/{{ comment.id }}" method="post">
            <fieldset id="comment_editor">
                <legend>Write Comment</legend>
                <div>
                    <label for="inpName">Name:</label>

                    <div>
                        <input id="inpName" name="inpName" class="input"
                               type="text" value="{{ comment.name }}">
                    </div>
                </div>
                <div>
                    <label for="txtComment">Comment:</label>

                    <div>
                        <textarea id="txtComment" name="txtComment">{{ comment.body }}</textarea>
                    </div>
                </div>
                <div>
                    <div>
                        <input type="submit" name="action" value="Send">
                        <a href="" id="btnPreview">Preview</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div id="previewtext">

    </div>

{% endblock %}