{% extends "layout.html" %}

{% block content %}

<div id="editor">
    <form class="editform" action="/edit{% if postid %}/{{ postid }}{% endif %}" method="post">
      <fieldset>

        <legend>{% if postid %}Edit{% else %}New post{% endif %}</legend>

          <div>
            <label for="txtBody">Post</label>
            <div id="textbox">
              <textarea id="txtBody" name="txtBody">{% if postid %}{{ entry.body }}{% endif %}</textarea>
            </div>
          </div>

          <div>
            <label for="inpTags">Tags</label>
            <div>
              <input id="inpTags" name="inpTags" class="input" type="text"
              {% if postid %}value="{{ entry.tags }}"{% endif %}>              
            </div>
          </div>

          <div>
            <label for="flags"></label>
            <div>
              <label class="checkbox" for="flags">
                <input name="flags" id="flags" value="private" type="checkbox">
                Private
              </label>
            </div>
          </div>

          <div>
              <div class="editor_buttons">
                <input type="submit" name="action" value="Save draft">
                <input type="submit" name="action" value="Publish">
                <a href="#" id="btnPreview">Preview</a>
              </div>
          </div>
      </fieldset>
    </form>
<div id="previewtext"></div>
</div>

{% endblock %}
