{% extends "layout.html" %}

{% block content %}

<div id="posts">
    {% for entry in entries %}
    <div class="post">
        <h2 class="post_title">
            <a href="/post/{{ entry.id }}/{{ slug(entry.title) }}">{{
                entry.title|safe }}</a>
        </h2>
        <div class="post_date">
            {% if session.loggedin %}
            <a href="/edit/{{ entry.id }}">( Edit )</a>
            <a href="/delpost/{{ entry.id }}">( Delete )</a>
            {% endif %}
            {{ entry.date.strftime("%a %b %d %Y at %H:%M") }}
        </div>
        <div class="post_body">
            {{ parse(firstp(entry.body))|safe }}
            <p class="continue">
                <a href="/post/{{ entry.id }}/{{ slug(entry.title) }}">Continue
                reading...</a>
            </p>
        </div>
        <div class="post_tags">
            Tags:
            {% for tag in split(', |,', entry.tags) %}
                <a href="/tag/{{ tag }}">{{ tag }}</a>
            {% endfor %}
        </div>
        <div class="post_comment_count">
            <a href="/post/{{ entry.id }}/{{ slug(entry.title)}}#comment_section">
                Comments ({{ entry.comments }})
            </a>
        </div>
    </div>
    {% endfor %}
    <div id="posts_footer">
        {% if page and page > 1 %}
            <a class="prev"href="/{{ page - 1 }}">Prev</a>
        {% endif %}
        <span class="pagenum"> — {{ page }} — </span>
        {% if nextpage %}
            <a class="next" href="/{{ page + 1 }}">Next</a>
        {% endif %}
    </div>
</div>

{% endblock %}
