<!DOCTYPE html>
<html>
<head>
    <meta name="author" content="Tomi Kortelainen">
    <meta name="description" content="Home page of Tomi Kortelaine">
    <meta name="keywords" content="Tomi Kortelainen,tomkort,software,developer,development">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='pygments.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <title>Tomkort - {{ subtitle  }}</title>
    <script src="{{ url_for('static', filename='utils.js') }}"></script>
</head>

<body>
{% if session.loggedin %}

<div id="adminbar">
    <ul id="adminnav">
        <li><a href="/edit">Add new post</a></li>
        <li><a href="/">Public posts</a></li>
        <li><a href="/drafts">Drafts</a></li>
        <li><a href="/private">Private posts</a></li>
        <li><a href="/logout">Log out</a></li>
    </ul>
</div>

{% endif %}
<div id="container">
    <div id="header">
        <h1>tomkort</h1>
        <ul id="navigation">
            <li><a href="http://tomkort.net">Index</a></li>
            <li><a href="/">Blog</a></li>
            <li><a href="http://tomkort.net/projects/">Projects</a></li>
            <li><a href="http://tomkort.net/about">About me</a></li>
            <li><a href="http://tomkort.net/contact">Contact</a></li>
        </ul>
    </div>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <div id="footer">
        <p>Copyright © 2015 by Tomi Kortelainen</p>
    </div>
</div>

</body>

</html>
