{% extends "layout.html" %}

{% block content %}

<div id="login">
    <form action="login" method="POST">
    <fieldset>
        <legend>Log in</legend>
        <label for="username">Username:</label>
        <div><input type="text" name="username"></div>
        <label for="password">Password:</label>
        <div><input type="password" name="password"></div>
        <input type="submit" name="action" value="Log in">
    </fieldset>
    </form>
</div>

{% endblock %}
