{% extends "layout.html" %}

{% block content %}

<div class="post">
    <h2 class="post_title">
        {{ entry.title|safe }}
    </h2>

    <div class="post_date">
        {% if session.loggedin %}
        <a href="/edit/{{ entry.id }}">( Edit )</a>
        {% endif %}
        {{ entry.date.strftime("%a %b %d %Y at %H:%M") }}
    </div>
    <div class="post_body">
        {{ parse(entry.body, no_title=True)|safe }}
    </div>
    <div class="post_tags">Tags:
        {% for tag in split(', |,', entry.tags) %}
        <a href="/tag/{{ tag }}">{{ tag }}</a>
        {% endfor %}
    </div>

    <div class="write_comment">
        <form action="/comment/{{ entry.id }}" method="post">
            <fieldset id="comment_editor">
                <legend>Write Comment</legend>
                <div>
                    <label for="inpName">Name:</label>

                    <div>
                        <input id="inpName" name="inpName" class="input"
                               type="text">
                    </div>
                </div>
                <div>
                    <label for="txtComment">Comment:</label>

                    <div>
                        <textarea id="txtComment" name="txtComment"></textarea>
                    </div>
                </div>
                <div>
                    <div>
                        <input type="submit" name="action" value="Send">
                        <a href="" id="btnPreview">Preview</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div id="previewtext">

    </div>
    <div class="comments" id="comment_section">
        {% for comment in comments %}
        <div class="comment">
            <h3 class="comment_author">Name: {{ comment.name }}</h3>
            <div class="comment_date">
                {% if session.loggedin %}
                <a href="/delcomment/{{ comment.id }}">( Delete )</a>
                {% endif %}

                {% if session.commenter and comment.id in session.comments %}
                <a href="/editcomment/{{ comment.id }}">( Edit )</a>
                <a href="/delcomment/{{ comment.id }}">( Delete )</a>
                {% endif %}
                {{ comment.date.strftime("%a %b %d %Y at %H:%M") }}</div>
            <div class="comment_body">{{ parse(comment.body)|safe
                }}</div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
